<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Project_01">
    <test verbose="2" preserve-order="true"
          name="C:/Users/sanan/IdeaProjects/Selenium_Automation_Lerning/src/test/java/com/saurabhSeleniumAuto/Z_assignments/Project_01/vwoLogin.java">
        <classes>
            <class name="com.saurabhSeleniumAuto.Z_assignments.Project_01.vwoLogin">

            </class>
        </classes>
    </test>
</suite>